body {
    padding: 0;
    margin: 0;
    background-color: skyblue;
}

.contenedor{
    display: flex;
background-color: white;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: column;
}




.logo {
    display: absolute;
}